[Unit]
Description=UVC camera logging
After=network.target auditd.service sshd.service

[Service]
Type=simple
User=al
Group=al
ExecStart=/usr/local/bin/writeStream.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGTERM
SendSIGHUP=yes
TimeoutStopSec=5
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID


[Install]
WantedBy=multi-user.target
Alias=uvc.service


